[submodule "robomimic"]
	path = robomimic
	url = git@github.com:ARISE-Initiative/robomimic.git
[submodule "droid"]
	path = droid
	url = git@github.com:arhanjain/droid.git
[submodule "openvla"]
	path = openvla
	url = git@github.com:openvla/openvla.git
