[submodule "robomimic"]
	path = submodules/robomimic
	url = git@github.com:arhanjain/robomimic.git
[submodule "droid"]
	path = submodules/droid
	url = git@github.com:arhanjain/droid.git
[submodule "openvla"]
	path = submodules/openvla
	url = git@github.com:openvla/openvla.git
[submodule "rlds_dataset_builder"]
	path = submodules/rlds_dataset_builder
	url = git@github.com:arhanjain/rlds_dataset_builder.git
[submodule "submodules/M2T2"]
	path = submodules/M2T2
	url = git@github.com:arhanjain/M2T2.git
[submodule "submodules/curobo"]
	path = submodules/curobo
	url = https://github.com/NVlabs/curobo.git
