absl-py==2.1.0
addict==2.4.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.1.0
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bleach==4.1.0
blinker==1.8.2
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.0.0
catkin==0.8.10
catkin-pkg-modules==0.5.2
certifi==2020.6.20
chardet==4.0.0
click==8.1.7
colorama==0.4.4
colorlog==6.8.2
comm==0.2.2
command-not-found==0.3
ConfigArgParse==1.7
configobj==5.0.6
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
distro==1.7.0
distro-info==1.1build1
dm-robotics-agentflow==0.5.0
dm-robotics-controllers==0.5.0
dm-robotics-geometry==0.5.0
dm-robotics-manipulation==0.5.0
dm-robotics-moma==0.5.0
dm-robotics-transformations==0.5.0
docutils==0.17.1
droid==0.0.1
dulwich==0.20.31
duplicity==0.8.21
embreex==2.17.7.post5
empy==3.3.4
entrypoints==0.4
exceptiongroup==1.2.2
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.20.0
filelock==3.9.0
flake8==4.0.1
flake8-blind-except==0.2.0
flake8-builtins==1.5.3
flake8-class-newline==1.6.0
flake8-comprehensions==3.8.0
flake8-deprecated==1.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
Flask==3.0.3
fonttools==4.29.1
fs==2.4.12
fsspec==2023.4.0
future==0.18.2
gast==0.5.2
gcalcli==4.3.0
genmsg==0.5.16
genpy==0.6.16
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.1.0
gpg==1.16.0-unknown
greenlet==1.1.2
grpcio==1.65.1
h11==0.14.0
h5py==3.11.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.0
hydra-core==1.3.2
idna==3.3
importlib-metadata==4.6.4
importlib_resources==6.4.0
iniconfig==1.1.1
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==8.1.3
itsdangerous==2.2.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.4.2
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter_core==5.7.2
jupyterlab-pygments==0.1.2
jupyterlab_widgets==3.0.11
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
lark==1.1.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
manifold3d==2.5.1
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
meshcat==0.3.2
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
mypy==0.942
mypy-extensions==0.4.3
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.10.4
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==3.0
nose==1.3.7
nose2==0.9.2
notebook==6.4.8
notify2==0.3
numpy==1.21.5
numpy-quaternion==2023.0.4
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
open3d==0.18.0
opencv-python==4.7.0.72
packaging==21.3
pandas==2.2.2
pandocfilters==1.5.0
paramiko==2.9.3
parsedatetime==2.6
parso==0.8.1
patiencediff==0.2.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pip==22.0.2
platformdirs==4.2.2
plotly==5.22.0
pluggy==0.13.0
ply==3.11
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pybind11==2.13.1
pycairo==1.20.1
pycodestyle==2.8.0
pycollada==0.8
pycryptodomex==3.11.0
pycups==2.0.1
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
PyGithub==1.55
Pygments==2.11.2
PyGObject==3.42.1
pygraphviz==1.7
PyICU==2.8.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyngrok==7.2.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyquaternion==0.9.9
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-repeat==0.9.1
pytest-rerunfailures==10.2
pytest-timeout==2.1.0
python-apt==2.4.0+ubuntu1
python-dateutil==2.9.0.post0
python-debian==0.1.43ubuntu1
python-gitlab==2.10.1
python-gnupg==0.4.8
pythran==0.10.0
pytz==2024.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
retrying==1.3.4
roman==3.3
rosbag==1.15.14
rosdep==0.22.2
rosdep-modules==0.22.2
rosdistro-modules==0.9.0
rosgraph==1.15.14
roslib==1.15.8
roslz4==1.15.14
rospkg==1.5.0
rospkg-modules==1.5.0
rospy==1.15.14
rostopic==1.15.14
rsa==4.8
Rtree==1.3.0
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.8.0
SecretStorage==3.3.1
Send2Trash==1.8.1b0
setuptools==59.6.0
setuptools-scm==8.1.0
shapely==2.0.5
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
ssh-import-id==5.11
svg.path==6.3
sympy==1.9
systemd-python==234
tenacity==8.5.0
tensorboard-data-server==0.7.2
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.5.0
tifffile==2024.7.24
toml==0.10.2
tomli==1.2.2
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchvision==0.16.0+cu118
tornado==6.1
traitlets==5.14.3
transforms3d==0.4.2
trimesh==4.4.3
triton==2.1.0
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzdata==2024.1
u-msgpack-python==2.8.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
UNKNOWN==0.0.0
uritemplate==3.0.1
urllib3==1.26.5
usb-creator==0.3.7
vhacdx==0.0.8.post1
vobject==0.9.6.1
wadllib==1.3.6
warp-lang==1.2.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==3.0.3
wheel==0.37.1
widgetsnbextension==4.0.11
wrapt==1.13.3
xatlas==0.0.9
xdg==5
xkit==0.0.0
xxhash==3.4.1
yourdfpy==0.0.56
zipp==1.0.0
